{% extends 'admin/change_form.html' %}
{% load static %}
{% block submit_buttons_bottom %}
    {{ block.super }}
    <div class="submit-row">
        {% if original.id %}
        <input type="submit" value="Imprimir" name="_continue" onclick="redireccionar()">
        {% endif %}
    </div>

    <script>
        function redireccionar() {
            var obj = "{{ original.id }}";
            var url = "//" + location.hostname + ":" + location.port + "/genpdf/" + obj;
            window.open(url)


        }
    </script>
{% endblock %}
